/* General 1*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /*aqui en el index, login y signup estamos usando la fuente Roboto
  la cual primero hemos llamado con la etiqueta link en html y l invocamos
  en los archivos css*/
  text-align: center;
  background: url('images/index.jpg') no-repeat center fixed;
  background-size: cover;
}

/* Input Forms*/
input[type="text"], input[type="password"]{
  outline: none;
  padding: 20px;
  display: block;
  width: 300px;
  border-radius: 3px;
  border: 1px solid #eee;
  margin: 20px auto;
}

input[type="submit"] {
  padding: 20px;
  color: #fff;
  background: #0098cb;
  width: 340px;
  /*margin: 20px auto;*/
  /*margin-top: 0;*/
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #00b8eb;
}

/* Header */
header {
  border-bottom: 2px solid #eee;
  padding: 20px 0;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}
header .title{
  /*aqui ya no es necesario colocar como selectores a
  header a .title, solo podemos header .title y si aplica los cambios*/
  text-decoration: none;
  color: #fff;
  display: inline-block;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  margin: 10px;
}

a{
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

a:hover{
  color: #fff
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*logo*/
.logoasm{
  width: 60px;
  height: 80px;
  display: inline-block;
}
